<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Hair Salon Management</title>
</head>
<body>
    <div class='container'>
        <div class="viewClient">
            <h1>Hair Salon Management System</h1>
                <h3>Edit client profile for {{ client.getClientName }}:</h3>
                <form action="/update_client/{{ client.getId }}" method="post">
                    <label for="client">Edit Name:</label>
                    <input id="client" name="client" type="text"></input>
                    <button class="btn-default" type="submit">Update</button>
                </form></br>
                <a href="/clients/{{ client.getStylistId }}">Return to Previous Page</a>
        </div>
    </div>
</body>
</html>
