<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Hair Salon Management</title>
</head>
<body>
    <div class='container'>
        <div class="viewStylists">
            <h1>Hair Salon Management System</h1>
                {% if stylists is not empty %}
                <h3>Current stylists:</h3>
                <p>
                    Click on stylist to view their client roster.
                </p>
                <ul>
                    {% for stylist in stylists %}
                        <div class="row">
                            <li><a href="/clients/{{ stylist.getId }}">{{ stylist.getStylistName }}</a></li>
                            <div class="btn-group btn-group-xs">
                              <div class="btn-group">
                                  <form action="/update_stylist/{{ stylist.getId }}" method="get">
                                      <button type="submit" class="btn btn-primary btn-sm">Edit</button>
                                  </form>
                              </div>
                              <div class="btn-group btn-group-xs">
                                  <form action="/remove_stylist/{{ stylist.getId }}" method="post">
                                      <input name="_method" type="hidden" value="delete">
                                      <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                                  </form>
                              </div>
                            </div>
                        </div></br>
                    {% endfor %}
                </ul>
                {% else %}
                    <h3>No Stylists in your Salon!</h3>
                {% endif %}
        </div>
        <div class="btn">
            <form action="/delete_stylists" method="post">
                    <button class="btn btn-danger" type="submit">Clear</button>
            </form>
        </div>
        <div class="addStylists">
            <form action="/add_stylist" method="post">
                <label for="stylist">Stylist Name:</label>
                <input id="stylist" name="stylist" type="text"></input>
                <button class="btn-default" type="submit">Add Stylist</button>
            </form>
        </div>
    </div>
</body>
</html>
